.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs__items {
  padding: 10px;

  & .dialog {

  }

}


.dialogs__messages {
  padding: 10px;

  & .message {
    color: white;
  }

}


